@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;


/* Pinar Font */
@font-face {
  font-family: "Pinar";
  src: url("/fonts/pinar/PINAR-FD-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("/fonts/pinar/PINAR-FD-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("/fonts/pinar/PINAR-FD-MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("/fonts/pinar/PINAR-FD-BOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("/fonts/pinar/PINAR-FD-EXTRABOLD.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Pinar", sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
