@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

/* Pinar Font */
@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-LIGHT.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-REGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-MEDIUM.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-BOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-EXTRABOLD.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-primary: #5b1d7a;
  --color-bg: #F9FAFB;
  --color-muted: #6B7280;
  --color-text: #1F2937;
}

body {
  font-family: "Pinar", sans-serif;
}

h1 {
  font-family: "Pinar", sans-serif;
  font-weight: 800;
}

/* :root {
   --background: #ffffff; 
   --foreground: #171717; 
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
