@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

/* Pinar Font */
@font-face {
  font-family: "Dana";
  src: url("../../public/fonts/DanaFaNum-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("../../public/fonts/DanaFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("../../public/fonts/DanaFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-LIGHT.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-REGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-MEDIUM.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-BOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("../../public/fonts/PINAR-FD-EXTRABOLD.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-primary: #5b1d7a;
  --color-bg: #f9fafb;
  --color-muted: #6b7280;
  --color-text: #1f2937;
}

* {
  font-family: "Pinar", sans-serif;
}

h1 {
  font-weight: 800;
}

.price {
  font-family: "Dana", sans-serif;
}

/* برای آیکون یا متن active */
.active-glow {
  /* glow پهن */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 2px rgb(255, 8, 8))
    drop-shadow(0 0 12px rgb(94, 5, 248))
    drop-shadow(0 0 4px rgb(255, 143, 23));
}

/* برای آیتم inactive */
.inactive-glow {
  filter: drop-shadow(0 2px 6px rgba(255, 255, 255, 0.35))
    drop-shadow(0 0 2px rgba(255, 255, 255, 1))
    drop-shadow(0 0 12px rgba(255, 255, 255, 1))
    drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}

/* :root {
   --background: #ffffff; 
   --foreground: #171717; 
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
